{% extends 'webapp/base.html' %}

{% load static %}

{% block content %}

   <div class="container mt-5 p-5">
        <div class="alert alert-success shadow">
            <p>Your Order Has Been Placed Successfully.<br> You can track your order with your tracking id :<br>
                <b>{{trn}}</b>
            </p>
        </div>

        <table class="table table-bordered mt-4 shadow">
            <thead class="alert alert-success">
                <tr>
                    <th>Image</th>
                    <th>name</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>  
            </thead>

            <tbody>
                {% for x in currentorders %}

                <tr>
                    <td><img src="../media/{{x.productid.image}}" width=100 height=100></td>
                    <td>{{x.productid.name}}</td>
                    <td>{{x.productid.mrp}}</td>
                    <td>{{x.order_qty}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>

{% endblock %}